* {
  box-sizing: border-box; }

ul {
  padding-left: 0; }

li {
  list-style: none; }

body {
  position: relative;
  height: 100%;
  background-color: rgba(0, 187, 255, 0.08);
  margin: 0; }

header {
  height: 84px;
  background-color: rgba(51, 109, 148, 0.58);
  text-align: center; }
  header .globe {
    width: 40px; }
    @media (min-width: 768px) {
      header .globe {
        margin: 7px 28px 0;
        width: 70px;
        height: 70px; } }
  header .fox {
    width: 40px; }
    @media (min-width: 768px) {
      header .fox {
        margin-left: 28px;
        margin-top: 7px;
        width: 70px;
        height: 70px; } }
  header .book {
    width: 40px; }
    @media (min-width: 768px) {
      header .book {
        margin-left: 28px;
        margin-top: 7px;
        width: 70px;
        height: 70px; } }
  header h1 {
    color: #edfdff;
    text-align: center;
    vertical-align: middle;
    padding-top: 5px;
    display: inline-block;
    font-family: 'Coming Soon', cursive; }
    @media (min-width: 768px) {
      header h1 {
        font-size: 50px;
        margin: -55px 0 0; } }

.select-box-div {
  margin: 5px 0;
  padding: 10px;
  background-color: rgba(238, 232, 170, 0);
  color: #342f44;
  font-family: sans-serif;
  font-size: .8em;
  text-align: center; }
  .select-box-div select {
    border-radius: 4px;
    width: 122px;
    height: 18px;
    margin-top: 6px; }

/* colors  background red when incorrect */
.question-container {
  background-color: rgba(0, 58, 255, 0.26);
  margin-bottom: 10px;
  padding: 0; }
  @media (min-width: 425px) {
    .question-container {
      width: 90%;
      margin: 0 auto 10px; } }
  @media (min-width: 768px) {
    .question-container {
      width: 57%;
      margin: 0 auto 10px; } }
  @media (min-width: 1024px) {
    .question-container {
      width: 36%; } }
  .question-container h1 {
    background-color: rgba(36, 0, 255, 0.16);
    color: #d6ff00;
    margin: 0;
    border: solid 3px rgba(0, 58, 255, 0.33); }
  .question-container ul {
    border: solid 3px rgba(0, 58, 255, 0.33);
    margin: 0; }
  .question-container li {
    margin: 12px 0; }
  .question-container .peru {
    background-image: url(../image/peru.png);
    background-size: 100px 100px;
    background-position: 75% 50%;
    background-repeat: no-repeat; }
  .question-container .kenya {
    background-image: url(../image/kenya.png);
    background-size: 100px 100px;
    background-position: 75% 50%;
    background-repeat: no-repeat; }
  .question-container .france {
    background-image: url(../image/france.png);
    background-size: 100px 100px;
    background-position: 75% 50%;
    background-repeat: no-repeat; }
  .question-container .pakistan {
    background-image: url(../image/pakistan.png);
    background-size: 100px 100px;
    background-position: 75% 50%;
    background-repeat: no-repeat; }
  .question-container .colombia {
    background-image: url(../image/colombia.png);
    background-size: 100px 100px;
    background-position: 75% 50%;
    background-repeat: no-repeat; }
  .question-container .philippines {
    background-image: url(../image/philippines.png);
    background-size: 100px 100px;
    background-position: 75% 50%;
    background-repeat: no-repeat; }
  .question-container .austria {
    background-image: url(../image/austria.png);
    background-size: 100px 100px;
    background-position: 75% 50%;
    background-repeat: no-repeat; }
  .question-container .georgia {
    background-image: url(../image/georgia.png);
    background-size: 100px 100px;
    background-position: 75% 50%;
    background-repeat: no-repeat; }
  .question-container .vietnam {
    background-image: url(../image/vietnam.png);
    background-size: 100px 100px;
    background-position: 75% 50%;
    background-repeat: no-repeat; }
  .question-container .el-salvador {
    background-image: url(../image/el-salvador.png);
    background-size: 100px 100px;
    background-position: 75% 50%;
    background-repeat: no-repeat; }

.incorrect {
  background-color: red; }

.input-q {
  height: 190px;
  position: relative; }

.cheetah {
  background-image: url(../image/cheetah.jpg);
  background-size: 59px 64px;
  background-repeat: no-repeat;
  background-position: 50% 34%; }
  @media (min-width: 1024px) {
    .cheetah {
      background-size: 83px 95px;
      background-position: 50% 45%; } }
  .cheetah input {
    margin: 85px auto;
    display: inherit; }
    @media (min-width: 1024px) {
      .cheetah input {
        margin: 117px auto; } }

.bats {
  background-image: url(../image/bat.jpg);
  background-size: 100px 100px;
  background-position: 75% 50%;
  background-repeat: no-repeat; }

.bison {
  background-image: url(../image/buffalo.jpg);
  background-size: 100px 100px;
  background-position: 75% 50%;
  background-repeat: no-repeat; }

.dolphin {
  background-image: url(../image/dolphin.jpg);
  background-size: 59px 64px;
  background-repeat: no-repeat;
  background-position: 50% 34%; }
  @media (min-width: 1024px) {
    .dolphin {
      background-size: 83px 95px;
      background-position: 50% 45%; } }
  .dolphin input {
    margin: 85px auto;
    display: inherit; }
    @media (min-width: 1024px) {
      .dolphin input {
        margin: 117px auto; } }

.elephant {
  background-image: url(../image/elephant.jpg);
  background-size: 100px 100px;
  background-position: 75% 50%;
  background-repeat: no-repeat; }

.cc-score-window-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  height: 100vh;
  width: 100vw; }

.cc-score-window {
  margin: 0 auto;
  background-color: transparent; }
  .cc-score-window p {
    margin: 5px 0 0;
    font-family: sans-serif; }
  .cc-score-window .amount-correct {
    font-size: 2em;
    text-align: center;
    padding: 10px 0;
    color: #e2ff01;
    background-color: #00bbff;
    border-radius: 11px; }
  .cc-score-window .countries {
    background-color: #e2ff01;
    color: #00bbff;
    padding: 31px 0 31px 24px;
    border-radius: 11px; }
  .cc-score-window .which-countries {
    background-color: #00bbff;
    padding: 23px 15px;
    color: #e2ff01;
    border-radius: 11px; }

.mm-score-window-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  height: 100vh;
  width: 100vw; }

.mm-score-window {
  margin: 0 auto;
  background-color: transparent; }

.amount-correct {
  font-size: 2em;
  text-align: center;
  padding: 10px 0;
  color: #e2ff01;
  background-color: #00bbff;
  border-radius: 11px; }

.missed {
  font-size: 1.5em;
  text-align: center;
  background-color: #e2ff01;
  color: #00bbff;
  padding: 34px 17px;
  border-radius: 11px; }

.try-again-mm, .try-again-cc {
  padding: 20px;
  text-align: center;
  color: #e2ff01;
  background-color: #00bbff;
  border-radius: 11px;
  margin-top: 9px; }

.submit-div {
  height: 100px;
  text-align: center;
  margin: 23px 0 0; }
  .submit-div .submit-cc, .submit-div .submit-mm {
    border-radius: 7px;
    background-color: #00a4ff;
    padding: 16px 28px;
    border: solid 3px rgba(0, 164, 255, 0.61);
    color: #f9ff00;
    font-size: 1.2em;
    display: inline-block; }

/*# sourceMappingURL=app.css.map */
