body{
  position: relative; 
  height: 100%;
  background-color: rgba(0, 187, 255, 0.08);
  margin: 0; 
}

header {
    height: 84px; 
    background-color: rgba(51, 109, 148, 0.58);
    text-align: center;
  

  .globe{
    width: 40px; 
    @media(min-width: 768px){
      margin: 7px 28px 0;
      width: 70px;
      height: 70px; 
    }
  }
  .fox {
    width: 40px;
    @media(min-width: 768px){
      margin-left:28px;
      margin-top: 7px;
      width: 70px;
      height: 70px; 
    }
  }
  .book{
    width: 40px; 
    @media(min-width: 768px){
      margin-left:28px;
      margin-top: 7px; 
      width: 70px;
      height: 70px; 
    }
  }
  h1 {
    color: rgb(237, 253, 255);
    text-align: center;
    vertical-align: middle;
    padding-top: 5px; 
    display: inline-block;
    font-family: 'Coming Soon', cursive;
    
    @media(min-width: 768px){
      font-size: 50px;
      margin: -55px 0 0;
    }
  }
}

.select-box-div {
    margin: 5px 0;
    padding: 10px;
    background-color: rgba(238, 232, 170, 0);
    color: rgb(52, 47, 68);
    font-family: sans-serif;
    font-size: .8em;
    text-align: center; 
   label{
   }

   select{
    border-radius: 4px;
    width: 122px;
    height: 18px;
    margin-top: 6px;  }
}

/* colors  background red when incorrect */


.question-container{
  background-color: rgba(0, 58, 255, 0.26);
  margin-bottom: 10px;
  padding: 0;
  @media(min-width: 425px){
    width: 90%;
    margin: 0 auto 10px;
  }
    @media(min-width: 768px){
      width: 57%;
      margin: 0 auto 10px;
    }
    @media(min-width: 1024px){
        width: 36%; 
    }

    h1{
      background-color: rgba(36, 0, 255, 0.16);
      color: #d6ff00;
      margin:0; 
      border: solid 3px rgba(0, 58, 255, 0.33);
    }
    ul{
      border: solid 3px rgba(0, 58, 255, 0.33);
      margin: 0;
    }
    li{
      margin: 12px 0;
    }
     .peru{
      background-image: url(../image/peru.png);
      background-size: 100px 100px; 
      background-position: 75% 50%; 
      background-repeat: no-repeat; 
  }
     .kenya{
      background-image: url(../image/kenya.png);
      background-size: 100px 100px; 
      background-position: 75% 50%; 
      background-repeat: no-repeat; 
  }
     .france{
      background-image: url(../image/france.png);
      background-size: 100px 100px; 
      background-position: 75% 50%; 
      background-repeat: no-repeat; 
  }
    .pakistan{
      background-image: url(../image/pakistan.png);
      background-size: 100px 100px; 
      background-position: 75% 50%; 
      background-repeat: no-repeat; 
  }
    .colombia{
      background-image: url(../image/colombia.png);
      background-size: 100px 100px; 
      background-position: 75% 50%; 
      background-repeat: no-repeat; 
  }
    .philippines{
      background-image: url(../image/philippines.png);
      background-size: 100px 100px; 
      background-position: 75% 50%; 
      background-repeat: no-repeat; 
  }
    .austria{
      background-image: url(../image/austria.png);
      background-size: 100px 100px; 
      background-position: 75% 50%; 
      background-repeat: no-repeat; 
  }
    .georgia{
      background-image: url(../image/georgia.png);
      background-size: 100px 100px; 
      background-position: 75% 50%; 
      background-repeat: no-repeat; 
  }
    .vietnam{
      background-image: url(../image/vietnam.png);
      background-size: 100px 100px; 
      background-position: 75% 50%; 
      background-repeat: no-repeat; 
  }
    .el-salvador{
      background-image: url(../image/el-salvador.png);
      background-size: 100px 100px; 
      background-position: 75% 50%; 
      background-repeat: no-repeat; 
  }
}

.incorrect {
    background-color: red; 
}


